cluster.name: elasticsearch 
node.name: {{ inventory_hostname }}
network.host: {{ ansible_eth1.ipv4.address }}
transport.tcp.port: 9300
http.port: 9200
#bootstrap.memory_lock: true

discovery.zen.ping.unicast.hosts: 192.168.33.71, 192.168.33.72, 192.168.33.73, 192.168.33.74, 192.168.33.75 
discovery.zen.minimum_master_nodes: 2 

node.master: {{ master_role }}
node.data: {{ data_role }}
node.ml: false

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
